/* styles.css */
.page.sidebar-3-page {
  background: #17132a url("./bg.jpeg");
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.sidebar-3 {
  position: fixed;
  left: -200px; /* Oculta la sidebar inicialmente */
  top: 0;
  bottom: 0;
  width: 200px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Solo visible cuando esté abierta */
  backdrop-filter: blur(10px);
  transition: left 0.3s ease-in-out;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 1100;
}

.sidebar-3.open {
  left: 0; /* Desliza la sidebar al abrir */
}

.sidebar-3-burger {
  position: fixed;
  top: 20px;
  left: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
  z-index: 2000; /* Asegura que esté por encima de todo */
}

.sidebar-3 nav {
  width: 100%;
  margin-top: 60px; /* Desplaza los elementos hacia abajo */
}

.nav-items-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-3 a {
  display: flex;
  align-items: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
  border-radius: 8px;
}

.sidebar-3 a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.active-link {
  background: rgba(255, 255, 255, 0.3);
}

.nav-text {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-3:not(.open) .nav-text {
  display: none;
}

.app-container {
display: flex;
height: 100vh;
}
